[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "bronkhorst_drivers"
version = "0.1.0"
authors = [
  { name="Gbocho Alexandre", email="gbocho@tu-berlin.de" },
  { name="Kraus Peter", email="peter.kraus@ceramics.tu-berlin.de" },
]
description = "This package is a part of tomato. It has been made for the automation of bronkhorst devices."
readme = "README.md"
requires-python = ">=3.7"
dependencies = [
    "bronkhorst_propar==1.1.1",
    "numpy==2.0.0",
    "propar==1.0.2",
    "xarray==2024.6.0",
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.optional-dependencies]
dev = [
    "pytest==8.2.2",
]

[project.urls]
"Homepage" = "https://github.com/dgbowl/tomato-bronkhorst"
"Bug Tracker" = "https://github.com/dgbowl/tomato-bronkhorst/issues"
"Bug Tracker" = "https://github.com/dgbowl/tomato-bronkhorst/issues"